@import "../../styles/index.scss";

.button {
    @include flex;
    @include Roboto;
    padding: 8px;
    border-radius: $border-radius;
    min-width: 150px;
    font-size: 24px;
    transition: 0.4s ease;
    margin-bottom: 5px;
    &.yellow {
        background-color: $accent-1;
    }
    &.orange {
        background-color: $accent-2;
    }
    &:disabled {
        cursor: not-allowed;
        filter: grayscale(1);
    }
}
